<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.orf/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel = "Trace"
      internalLogFile = "c:/Logs/internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="c:/dotnet fejlesztés/Bookstore-API/Logs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="debug" writeTo="logfile" />
  </rules>
</nlog>